[build]
  publish = "dist"
  command = "npm run build"

[[headers]]
  for = "/*.@(js|css|svg|png|jpg|webp)"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/fonts/*"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"
